[Unit]
Description=cartservice
Wants=network-online.target
After=network-online.target

[Service]
Environment="DOTNET_EnableDiagnostics=0"
Environment="ASPNETCORE_URLS=http://*:7070"
Environment="REDIS_ADDR={{ hostvars['redis']['private_ipv4_addresses'][0] }}:6379"
Environment="ENV_PLATFORM=local"

WorkingDirectory=/home/{{ ansible_user }}/cartservice
ExecStart=/home/{{ ansible_user }}/cartservice/cartservice

Restart=on-failure

[Install]
WantedBy=multi-user.target
