[Unit]
Description=currencyservice
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=7000"
Environment="DISABLE_PROFILER=1"
Environment="ENV_PLATFORM=local"

WorkingDirectory=/home/{{ ansible_user }}/microservices-demo/src/currencyservice
ExecStart=node /home/{{ ansible_user }}/microservices-demo/src/currencyservice/server.js

Restart=on-failure

[Install]
WantedBy=multi-user.target
