[Unit]
Description=adservice
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=9555"
Environment="DISABLE_TRACING=1"
Environment="DISABLE_STATS=1"
Environment="ENV_PLATFORM=local"

WorkingDirectory=/home/{{ ansible_user }}/microservices-demo/src/adservice
ExecStart=/home/{{ ansible_user }}/microservices-demo/src/adservice/build/install/hipstershop/bin/AdService

Restart=on-failure

[Install]
WantedBy=multi-user.target
