[Unit]
Description=shippingservice
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=50051"
Environment="DISABLE_PROFILER=1"
Environment="ENV_PLATFORM=local"

WorkingDirectory=/home/{{ ansible_user }}/microservices-demo/src/shippingservice
ExecStart=/home/{{ ansible_user }}/microservices-demo/src/shippingservice/shippingservice

Restart=on-failure

[Install]
WantedBy=multi-user.target
