[Unit]
Description=checkoutservice
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=5050"
Environment="PRODUCT_CATALOG_SERVICE_ADDR={{ hostvars['productcatalogservice']['private_ipv4_addresses'][0] }}:3550"
Environment="SHIPPING_SERVICE_ADDR={{ hostvars['shippingservice']['private_ipv4_addresses'][0] }}:50051"
Environment="PAYMENT_SERVICE_ADDR={{ hostvars['paymentservice-1']['private_ipv4_addresses'][0] | default(hostvars['paymentservice']['private_ipv4_addresses'][0]) }}:50051"
Environment="EMAIL_SERVICE_ADDR={{ hostvars['emailservice']['private_ipv4_addresses'][0] }}:5000"
Environment="CURRENCY_SERVICE_ADDR={{ hostvars['currencyservice']['private_ipv4_addresses'][0] }}:7000"
Environment="CART_SERVICE_ADDR={{ hostvars['cartservice']['private_ipv4_addresses'][0] }}:7070"
Environment="ENV_PLATFORM=local"

WorkingDirectory=/home/{{ ansible_user }}/microservices-demo/src/checkoutservice
ExecStart=/home/{{ ansible_user }}/microservices-demo/src/checkoutservice/checkoutservice

Restart=on-failure

[Install]
WantedBy=multi-user.target
