[Unit]
Description=recommendationservice
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=8081"
Environment="DISABLE_PROFILER=1"
Environment="PRODUCT_CATALOG_SERVICE_ADDR={{ hostvars['productcatalogservice']['private_ipv4_addresses'][0] | default('localhost') }}:3550"
Environment="ENV_PLATFORM=local"

WorkingDirectory=/home/{{ ansible_user }}/microservices-demo/src/recommendationservice
ExecStart=/home/{{ ansible_user }}/microservices-demo/src/recommendationservice/.venv/bin/python /home/{{ ansible_user }}/microservices-demo/src/recommendationservice/recommendation_server.py

Restart=on-failure

[Install]
WantedBy=multi-user.target
