metricbeat.modules:
-   module: system
    period: 10s
    metricsets:
        - cpu
        - memory
        - network
    interfaces: [eth0]

output.logstash:
    hosts: ['{{ hostvars['elasticsearch']['private_ipv4_addresses'][0] }}:5044']

processors:
    -   add_host_metadata: ~
    -   add_cloud_metadata: ~
