metricbeat.modules:
- module: nginx
  metricsets: ["stubstatus"]
  enabled: true
  period: 10s
    
  # Nginx hosts
  hosts: [
    {% for target in query('inventory_hostnames', 'targets-pvt') %}
        "{{ target }}",
    {% endfor %}
  ]

  # Path to server status. Default nginx_status
  server_status_path: "nginx_status"
output.logstash:
    hosts: ['{{ logstash_host }}:5044']
