[Unit]
Description=paymentservice
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=50051"
Environment="DISABLE_PROFILER=1"
Environment="ENV_PLATFORM=local"

WorkingDirectory=/home/{{ ansible_user }}/microservices-demo/src/paymentservice
ExecStart=node /home/{{ ansible_user }}/microservices-demo/src/paymentservice/index.js

Restart=on-failure

[Install]
WantedBy=multi-user.target
