[Unit]
Description=loadgenerator
Wants=network-online.target
After=network-online.target

[Service]
Environment="FRONTEND_ADDR={{ hostvars['frontend']['private_ipv4_addresses'][0] }}:8080"

WorkingDirectory=/home/{{ ansible_user }}/microservices-demo/src/loadgenerator
ExecStart=/home/{{ ansible_user }}/microservices-demo/src/loadgenerator/.venv/bin/locust --host="http://$FRONTEND_ADDR" --headless --users 10 2>&1

Restart=on-failure

[Install]
WantedBy=multi-user.target
