---
apiVersion: v1
kind: ConfigMap
metadata:
  name: monitoring-unit-{{ item }}-metricbeat-config
  namespace: default
  labels:
    app: monitoring-unit-{{ item }}
    role: monitoring-unit
    env-type: {{ env_type_tag_value }}
data:
  metricbeat.yml: |-
    metricbeat.config.modules:
      # Mounted `metricbeat-modules` configmap:
      path: ${path.config}/modules.d/*.yml
      # Reload module configs as they change:
      reload.enabled: false

    processors:
        -   add_cloud_metadata: ~
        -   add_docker_metadata: ~
        -   add_kubernetes_metadata: ~
        -   add_labels:
                labels:
                    pattern: "{{ pattern | default('') }}"
                    users: "{{ users | default('') }}"
                    targets: "{{ targets | default('') }}"
                    kpis: "{{ kpis | default('') }}"
                    run_id: "{{ run_id | default('') }}"

    output.logstash:
      hosts: ['${LOGSTASH_HOST:logstash.default}:${LOGSTASH_PORT:5044}']
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: monitoring-unit-{{ item }}-metricbeat-modules
  namespace: default
  labels:
    app: monitoring-unit-{{ item }}
    role: monitoring-unit
    env-type: {{ env_type_tag_value }}
data:
  nginx.yml: |-
    - module: nginx
      metricsets: ["stubstatus"]
      enabled: true
      period: 10s
        
      # Nginx hosts
      hosts: [
        {% for target in range(1, target_containers_upperbound + 1, 1) %}
            "target-{{ target }}.default",
        {% endfor %}
      ]
    
      # Path to server status. Default nginx_status
      server_status_path: "nginx_status"
---
# Deploy a Metricbeat instance per node for node metrics retrieval
apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitoring-unit-{{ item }}
  namespace: default
  labels:
    app: monitoring-unit-{{ item }}
    role: monitoring-unit
    env-type: {{ env_type_tag_value }}
spec:
  selector:
    matchLabels:
      app: monitoring-unit-{{ item }}
  template:
    metadata:
      labels:
        app: monitoring-unit-{{ item }}
    spec:
      terminationGracePeriodSeconds: 30
      containers:
      - name: metricbeat
        image: docker.elastic.co/beats/metricbeat-oss:7.15.2
        args: [
          "-c", "/etc/metricbeat.yml",
        ]
        env:
        - name: LOGSTASH_HOST
          value: logstash.default
        - name: LOGSTASH_PORT
          value: "5044"
        securityContext:
          runAsUser: 0
          # If using Red Hat OpenShift uncomment this:
          #privileged: true
        volumeMounts:
        - name: config
          mountPath: /etc/metricbeat.yml
          readOnly: true
          subPath: metricbeat.yml
        - name: modules
          mountPath: /usr/share/metricbeat/modules.d
          readOnly: true
      volumes:
      - name: config
        configMap:
          defaultMode: 0640
          name: monitoring-unit-{{ item }}-metricbeat-config
      - name: modules
        configMap:
          defaultMode: 0640
          name: monitoring-unit-{{ item }}-metricbeat-modules
---
