metricbeat.modules:
-   module: system
    metricsets:
    -   load
    -   memory
    -   filesystem
    enabled: true
    period: 10s
-   module: redis
    metricsets:
    -   info
    -   keyspace
    hosts:
    -   127.0.0.1:6379
    enabled: true
    period: 10s

{#output.logstash:
    hosts: ['{{ hostvars['elasticsearch']['private_ipv4_addresses'][0] }}:5044']#}

output.elasticsearch:
    hosts: ['http://{{ hostvars['elasticsearch']['private_ipv4_addresses'][0] }}:9200'] 
