metricbeat.modules:
-   module: prometheus
    metricsets:
    -   collector
    hosts: [
        {% for target in groups['outsourced_services'] %}
            "{{ hostvars[target]['private_ipv4_addresses'][0] }}:9100",
        {% endfor %}
    ]
    metrics_path: /metrics
    enabled: true
    period: 10s

{#output.logstash:
    hosts: ['{{ hostvars['elasticsearch']['private_ipv4_addresses'][0] }}:5044']#}

output.elasticsearch:
    hosts: ['http://{{ hostvars['elasticsearch']['private_ipv4_addresses'][0] }}:9200'] 
