[Unit]
Description=productcatalogservice
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=3550"
Environment="DISABLE_PROFILER=1"
Environment="ENV_PLATFORM=local"

WorkingDirectory=/home/{{ ansible_user }}/microservices-demo/src/productcatalogservice
ExecStart=/home/{{ ansible_user }}/microservices-demo/src/productcatalogservice/productcatalogservice

Restart=on-failure

[Install]
WantedBy=multi-user.target
