[Unit]
Description=frontend
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=8080"
Environment="PRODUCT_CATALOG_SERVICE_ADDR={{ hostvars['productcatalogservice']['private_ipv4_addresses'][0] }}:3550"
Environment="CURRENCY_SERVICE_ADDR={{ hostvars['currencyservice']['private_ipv4_addresses'][0] }}:7000"
Environment="CART_SERVICE_ADDR={{ hostvars['cartservice']['private_ipv4_addresses'][0] }}:7070"
Environment="RECOMMENDATION_SERVICE_ADDR={{ hostvars['recommendationservice-1']['private_ipv4_addresses'][0] | default(hostvars['recommendationservice']['private_ipv4_addresses'][0]) }}:8081"
Environment="SHIPPING_SERVICE_ADDR={{ hostvars['shippingservice']['private_ipv4_addresses'][0] }}:50051"
Environment="CHECKOUT_SERVICE_ADDR={{ hostvars['checkoutservice']['private_ipv4_addresses'][0] }}:5050"
Environment="AD_SERVICE_ADDR={{ hostvars['adservice']['private_ipv4_addresses'][0] }}:9555"
Environment="ENABLE_PROFILER=0"
Environment="ENV_PLATFORM=local"

WorkingDirectory=/home/{{ ansible_user }}/microservices-demo/src/frontend
ExecStart=/home/{{ ansible_user }}/microservices-demo/src/frontend/frontend

Restart=on-failure

[Install]
WantedBy=multi-user.target
