[Unit]
Description=emailservice
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=8080"
Environment="DISABLE_PROFILER=1"
Environment="ENV_PLATFORM=local"

WorkingDirectory=/home/{{ ansible_user }}/microservices-demo/src/emailservice
ExecStart=/home/{{ ansible_user }}/microservices-demo/src/emailservice/.venv/bin/python /home/{{ ansible_user }}/microservices-demo/src/emailservice/email_server.py

Restart=on-failure

[Install]
WantedBy=multi-user.target
