---
apiVersion: v1
kind: ConfigMap
metadata:
    name: target-{{ item }}
    namespace: default
    labels:
        app: target-{{ item }}
        role: target
        env-type: {{ env_type_tag_value }}
data:
    nginx.conf: |-
        user nginx;
        worker_processes  1;
        events {
            worker_connections  1024;
        }
        http {
            server {
                listen 80 default_server;
                listen [::]:80 default_server;
                root /var/www/html;
                index index.html index.htm;
                server_name _;

                location / {
                    # First attempt to serve request as file, then
                    # as directory, then fall back to displaying a 404.
                    try_files $uri $uri/ =404;
                }
    
                location /nginx_status {
                    stub_status;
                    access_log off;
                    allow all;
                }
            }
        }
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: target-{{ item }}
    namespace: default
    labels:
        app: target-{{ item }}
        role: target
        env-type: {{ env_type_tag_value }}
spec:
    selector:
        matchLabels:
            app: target-{{ item }}
    replicas: 1
    template:
        metadata:
            labels:
                app: target-{{ item }}
        spec:
            containers:
            - name: nginx
              image: nginx:1.18.0
              ports:
              - containerPort: 80
              volumeMounts:
              - name: nginx-conf
                mountPath: /etc/nginx/nginx.conf
                subPath: nginx.conf
                readOnly: true
            volumes:
            - name: nginx-conf
              configMap:
                name: target-{{ item }}
              items:
              - key: nginx.conf
                path: nginx.conf
---
apiVersion: v1
kind: Service
metadata:
    name: target-{{ item }}
    namespace: default
    labels:
        app: target-{{ item }}
        role: target
        env-type: {{ env_type_tag_value }}
spec:
    ports:
    - port: 80
      protocol: TCP
    selector:
        app: target-{{ item }}
